/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url("../images/backclouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.app {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 671px) and (max-width: 1024px) {
  .app {
    max-width: 83%;
  }
}
@media (min-width: 376px) and (max-width: 670px) {
  .app {
    max-width: 87%;
  }
}
@media (max-width: 375px) {
  .app {
    width: 100%;
    max-width: 100%;
  }
}
.app__search-container {
  width: 30%;
  height: 5%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.5em 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6em;
  box-shadow: 0 0.25em 0.25em rgba(3, 46, 87, 0.1);
}
@media (min-width: 671px) and (max-width: 1024px) {
  .app__search-container {
    width: 40%;
  }
}
@media (min-width: 376px) and (max-width: 670px) {
  .app__search-container {
    width: 55%;
  }
}
@media (max-width: 375px) {
  .app__search-container {
    width: 95%;
  }
}
.app__result {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}
.app__result__container {
  grid-row: span 5;
  grid-column: 6/span 9;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.5em 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6em;
  box-shadow: 0 0.25em 0.5em rgba(3, 46, 87, 0.1);
}
@media (min-width: 671px) and (max-width: 1024px) {
  .app__result__container {
    width: 55%;
  }
}
@media (min-width: 376px) and (max-width: 670px) {
  .app__result__container {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .app__result__container {
    width: 95%;
  }
}
.app__result__container__cityName {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0.5em;
}
.app__result__container__icon {
  margin: 0.6em 0;
}
.app__result__container__icon__icons {
  width: 4.5em;
  height: 4.5em;
  display: none;
}
.app__result__container__weather-desc {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em;
}
.app__result__container__degre {
  font-size: 5em;
  margin-top: 0.5em;
  line-height: 0;
  font-weight: 400;
  padding-left: 0px;
  color: #ffffff;
}
.app__result__container__temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3em;
}
.app__result__container__temp__min {
  color: #ffffff;
  padding-right: 0.5em;
  border-right: 1px solid #ffffff;
}
.app__result__container__temp__max {
  color: #ffffff;
  padding-left: 0.5em;
}
.app__result__container__date {
  color: #ffffff;
  margin-top: 1em;
  display: none;
}
.app__result__container__photos-container {
  height: 25%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
}
.app__result__container__photos-container__miniatures {
  flex: 1;
  box-sizing: border-box;
  margin-right: 1%;
  border-radius: 0.5em;
  height: 4em;
  width: 4em;
  opacity: 0.5;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.app__result__container__photos-container__miniatures:hover {
  transform: scale(2.3) rotate(calc(var(--rotation, 0) * 1deg));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  cursor: zoom-in;
  z-index: 2;
}
.app__result__compare {
  grid-row: span 5;
  grid-column: 15/span 4;
  margin-top: 1em;
}
.app__result__compare__city {
  grid-row: span 1;
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5em;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.5em 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6em;
  box-shadow: 0 0.25em 0.5em rgba(3, 46, 87, 0.1);
}
.app__result__compare__city__name {
  color: #ffffff;
}
.app__result__compare__city__icon {
  padding-left: 0.5em;
  width: 1.8em;
  height: 1.8em;
}
.app__result__compare__city__temp {
  padding-left: 0.5em;
  color: #ffffff;
  font-size: 1.2em;
}
.app__result__compare__city__remove-button {
  padding-left: 1em;
  width: 16px;
  height: 16px;
}
.app__today-temperatures {
  width: 80%;
  height: 11%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 5.3em;
}
@media (min-width: 671px) and (max-width: 1024px) {
  .app__today-temperatures {
    width: 85%;
  }
}
@media (min-width: 376px) and (max-width: 670px) {
  .app__today-temperatures {
    width: 95%;
    padding-right: 0px;
  }
}
@media (max-width: 375px) {
  .app__today-temperatures {
    width: 95%;
    padding-right: 0px;
  }
}
.app__today-temperatures__subtitle {
  color: #ffffff;
}
@media (min-width: 376px) and (max-width: 670px) {
  .app__today-temperatures__subtitle {
    display: none;
  }
}
@media (max-width: 375px) {
  .app__today-temperatures__subtitle {
    width: 95%;
    display: none;
  }
}
.app__today-temperatures__wrapper {
  width: 12%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.5em 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6em;
  box-shadow: 0 1.5em 2.5em rgba(3, 46, 87, 0.1);
}
.app__today-temperatures__wrapper__heure {
  color: #ffffff;
}
.app__today-temperatures__wrapper__icon {
  width: 30px;
  height: 30px;
}
.app__today-temperatures__wrapper__temp {
  color: #ffffff;
  font-size: 1.2em;
}
.app__week-temperatures {
  width: 85%;
  height: 11%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 100px;
}
@media (min-width: 671px) and (max-width: 1024px) {
  .app__week-temperatures {
    width: 85%;
  }
}
@media (min-width: 376px) and (max-width: 670px) {
  .app__week-temperatures {
    width: 95%;
    padding-right: 0px;
  }
}
@media (max-width: 375px) {
  .app__week-temperatures {
    width: 95%;
    padding-right: 0px;
  }
}
.app__week-temperatures__subtitle {
  color: #ffffff;
}
@media (min-width: 376px) and (max-width: 670px) {
  .app__week-temperatures__subtitle {
    display: none;
  }
}
@media (max-width: 375px) {
  .app__week-temperatures__subtitle {
    width: 95%;
    display: none;
  }
}
.app__week-temperatures__wrapper {
  width: 12%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.5em 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6em;
  box-shadow: 0 1.5em 2.5em rgba(3, 46, 87, 0.1);
}
.app__week-temperatures__wrapper__day {
  color: #ffffff;
}
.app__week-temperatures__wrapper__icon {
  width: 30px;
  height: 30px;
}
.app__week-temperatures__wrapper__temp {
  color: #ffffff;
  font-size: 1.2em;
}

* {
  font-family: "Poppins", sans-serif;
}

#SearchButton,
#CompareButton {
  width: 10%;
  height: 70%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s;
}

#SearchButton:hover,
#CompareButton:hover {
  transform: scale(1.1);
}

#CompareButton {
  width: 7%;
}

#remove-button {
  width: 100%;
  height: 100%;
}

.UserInput {
  width: 70%;
  height: 80%;
  outline: none;
  border: none;
  font-size: 1.1em;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

input::-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 200;
}

input::placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */